/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del encabezado */
header {
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
}

/* Estilos de los enlaces */
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el enlace de la página actual */
.current-page a {
    color: #adf086; /* Cambia el color del texto para resaltarlo */
    font-weight: bold; /* Puede aumentar el grosor del texto para resaltarlo más */
    /* Otros estilos que desees aplicar */
}